In [1]:
import numpy as np
import pandas as pd

## DataFrames Continuation

In [2]:
#DataFrame is a table columns and rows in pandas that we caesily restructure and filter
#FORMAL DEFINITION~ A group of pandas series objects that share the same index
#DataFrame-several series thatb have to share same index
#each individual column is a pandas series but they(columns) allshare same index in a table
#DF is the main pandas object we will work with and it is extremely useful

In [4]:
#how to create a df from python objects
#or how to read a csv file from a data frame
#how to create;
np.random.seed(101)
mydata = np.random.randint(0,101,(4,3))

#âœ… Why 2D?(The matrix formed above is 2D because);
#A 1D array looks like: [95, 11, 81] â€” just a simple list of values.

#A 2D array is a list of lists: each inner list is a row.

#It has both:

#an axis 0 (rows)

#and an axis 1 (columns)

#So this array has shape:
#(4, 3)
#Meaning 4 rows and 3 columns â†’ hence, two dimensions.


#ðŸ”· 1. 3D Array
#A 3D array is like a stack of 2D matrices.

#Example:

#arr_3d = np.array([
   # [[1, 2, 3], [4, 5, 6]],       # Matrix 1 (2 rows Ã— 3 cols)
    #[[7, 8, 9], [10, 11, 12]]     # Matrix 2 (2 rows Ã— 3 cols)])
#print(arr_3d.shape)  # Output: (2, 2, 3)
#print(arr_3d.ndim)   # Output: 3
#Breakdown:
#2 blocks (or matrices) â†’ axis 0

#Each block has 2 rows â†’ axis 1

#Each row has 3 columns â†’ axis 2

#ðŸ“Œ Think of it like:
#ðŸ“¦ A box (3D) with shape: 2 matrices Ã— 2 rows Ã— 3 columns
#[ [ [1, 2, 3],
  #  [4, 5, 6] ],

  #[ [7, 8, 9],
    #[10, 11, 12] ]]
#ðŸ”¶ 2. 4D Array
#A 4D array is a collection of 3D arrays â€” think of it like multiple cubes in a row.

#Example:
#arr_4d = np.array([ [   
# 3D block 1
 #       [[1, 2], [3, 4]],
#        [[5, 6], [7, 8]]
# ],
 #   [   # 3D block 2
 #       [[9, 10], [11, 12]],
   #     [[13, 14], [15, 16]]]])

#print(arr_4d.shape)  # Output: (2, 2, 2, 2)
#print(arr_4d.ndim)   # Output: 4
#Breakdown:
#2 3D blocks â†’ axis 0

#Each block has 2 matrices â†’ axis 1

#Each matrix has 2 rows â†’ axis 2

#Each row has 2 columns â†’ axis 3

#ðŸ“¦ Imagine:
#â†’ 2 Cubes â†’ each with 2 matrices â†’ each matrix has 2 rows Ã— 2 cols

#ðŸ§  Summary Table
#Dimension	Meaning	Shape Example
#1D	Vector	(4,)
#2D	Matrix	(3, 4)
#3D	Stack of Matrices	(2, 3, 4)
#4D	Collection of Matrix Stacks	(2, 2, 3, 4)

In [5]:
mydata

array([[95, 11, 81],
       [70, 63, 87],
       [75,  9, 77],
       [40,  4, 63]], dtype=int32)

In [6]:
myindex =['CA','NY','AZ','TX']

In [7]:
mycolumns = ['Jan','Feb','Mar']

In [8]:
df = pd.DataFrame(mydata)

In [9]:
df

    0   1   2
0  95  11  81
1  70  63  87
2  75   9  77
3  40   4  63

In [10]:
df = pd.DataFrame(data=mydata,index = myindex)

In [11]:
df

     0   1   2
CA  95  11  81
NY  70  63  87
AZ  75   9  77
TX  40   4  63

In [12]:
df = pd.DataFrame(data=mydata,index = myindex,columns=mycolumns)

In [13]:
df

    Jan  Feb  Mar
CA   95   11   81
NY   70   63   87
AZ   75    9   77
TX   40    4   63

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, CA to TX
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Jan     4 non-null      int32
 1   Feb     4 non-null      int32
 2   Mar     4 non-null      int32
dtypes: int32(3)
memory usage: 80.0+ bytes

In [15]:
#understanding file path for pandas
#reading a csv from pandas
#WHERE IS MY PYTHON CODE LOCATED?

In [16]:
pwd

'c:\\Users\\USER\\Documents\\UDEMY_PRACTICE'

In [17]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 60E7-9F93

 Directory of c:\Users\USER\Documents\UDEMY_PRACTICE

06/24/2025  01:15 PM    <DIR>          .
06/24/2025  01:15 PM    <DIR>          ..
06/26/2025  03:23 PM    <DIR>          03-Pandas
06/26/2025  03:25 PM            26,775 dataframe.ipynb
06/24/2025  10:15 AM            89,229 udemy.ipynb
               2 File(s)        116,004 bytes
               3 Dir(s)  874,575,032,320 bytes free

In [18]:
#provide file path to tips csv file to pandas
df=pd.read_csv('tips.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'tips.csv'