In [2]:
import numpy as np
import pandas as pd

## DataFrames Continuation

In [3]:
#DataFrame is a table columns and rows in pandas that we caesily restructure and filter
#FORMAL DEFINITION~ A group of pandas series objects that share the same index
#DataFrame-several series thatb have to share same index
#each individual column is a pandas series but they(columns) allshare same index in a table
#DF is the main pandas object we will work with and it is extremely useful

In [4]:
#how to create a df from python objects
#or how to read a csv file from a data frame
#how to create;
np.random.seed(101)
mydata = np.random.randint(0,101,(4,3))

#âœ… Why 2D?(The matrix formed above is 2D because);
#A 1D array looks like: [95, 11, 81] â€” just a simple list of values.

#A 2D array is a list of lists: each inner list is a row.

#It has both:

#an axis 0 (rows)

#and an axis 1 (columns)

#So this array has shape:
#(4, 3)
#Meaning 4 rows and 3 columns â†’ hence, two dimensions.


#ðŸ”· 1. 3D Array
#A 3D array is like a stack of 2D matrices.

#Example:

#arr_3d = np.array([
   # [[1, 2, 3], [4, 5, 6]],       # Matrix 1 (2 rows Ã— 3 cols)
    #[[7, 8, 9], [10, 11, 12]]     # Matrix 2 (2 rows Ã— 3 cols)])
#print(arr_3d.shape)  # Output: (2, 2, 3)
#print(arr_3d.ndim)   # Output: 3
#Breakdown:
#2 blocks (or matrices) â†’ axis 0

#Each block has 2 rows â†’ axis 1

#Each row has 3 columns â†’ axis 2

#ðŸ“Œ Think of it like:
#ðŸ“¦ A box (3D) with shape: 2 matrices Ã— 2 rows Ã— 3 columns
#[ [ [1, 2, 3],
  #  [4, 5, 6] ],

  #[ [7, 8, 9],
    #[10, 11, 12] ]]
#ðŸ”¶ 2. 4D Array
#A 4D array is a collection of 3D arrays â€” think of it like multiple cubes in a row.

#Example:
#arr_4d = np.array([ [   
# 3D block 1
 #       [[1, 2], [3, 4]],
#        [[5, 6], [7, 8]]
# ],
 #   [   # 3D block 2
 #       [[9, 10], [11, 12]],
   #     [[13, 14], [15, 16]]]])

#print(arr_4d.shape)  # Output: (2, 2, 2, 2)
#print(arr_4d.ndim)   # Output: 4
#Breakdown:
#2 3D blocks â†’ axis 0

#Each block has 2 matrices â†’ axis 1

#Each matrix has 2 rows â†’ axis 2

#Each row has 2 columns â†’ axis 3

#ðŸ“¦ Imagine:
#â†’ 2 Cubes â†’ each with 2 matrices â†’ each matrix has 2 rows Ã— 2 cols

#ðŸ§  Summary Table
#Dimension	Meaning	Shape Example
#1D	Vector	(4,)
#2D	Matrix	(3, 4)
#3D	Stack of Matrices	(2, 3, 4)
#4D	Collection of Matrix Stacks	(2, 2, 3, 4)

In [5]:
mydata

array([[95, 11, 81],
       [70, 63, 87],
       [75,  9, 77],
       [40,  4, 63]], dtype=int32)

In [6]:
myindex =['CA','NY','AZ','TX']

In [7]:
mycolumns = ['Jan','Feb','Mar']

In [8]:
df = pd.DataFrame(mydata)

In [9]:
df

    0   1   2
0  95  11  81
1  70  63  87
2  75   9  77
3  40   4  63

In [10]:
df = pd.DataFrame(data=mydata,index = myindex)

In [11]:
df

     0   1   2
CA  95  11  81
NY  70  63  87
AZ  75   9  77
TX  40   4  63

In [12]:
df = pd.DataFrame(data=mydata,index = myindex,columns=mycolumns)

In [13]:
df

    Jan  Feb  Mar
CA   95   11   81
NY   70   63   87
AZ   75    9   77
TX   40    4   63

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, CA to TX
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Jan     4 non-null      int32
 1   Feb     4 non-null      int32
 2   Mar     4 non-null      int32
dtypes: int32(3)
memory usage: 80.0+ bytes

In [15]:
#understanding file path for pandas
#reading a csv from pandas
#WHERE IS MY PYTHON CODE LOCATED?

In [16]:
pwd

'c:\\Users\\USER\\Documents\\UDEMY_PRACTICE\\03-Pandas'

In [19]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 60E7-9F93

 Directory of c:\Users\USER\Documents\UDEMY_PRACTICE\03-Pandas

06/26/2025  03:23 PM    <DIR>          .
06/26/2025  03:23 PM    <DIR>          ..
06/23/2025  07:12 PM    <DIR>          .ipynb_checkpoints
06/23/2025  07:12 PM    <DIR>          __pycache__
06/23/2025  05:06 PM           565,390 00-Series.ipynb
06/23/2025  05:06 PM           208,957 01-DataFrames.ipynb
06/23/2025  05:06 PM           194,591 02-Conditional-Filtering.ipynb
06/23/2025  05:06 PM           196,385 03-Useful-Methods.ipynb
06/23/2025  05:06 PM            64,227 04-Missing-Data.ipynb
06/23/2025  05:06 PM           219,627 05-Groupby-Operations-and-MultiIndex.ipynb
06/23/2025  05:06 PM            62,966 06-Combining-DataFrames.ipynb
06/23/2025  05:06 PM            32,972 07-Text-Methods.ipynb
06/23/2025  05:06 PM            93,392 08-Time-Methods.ipynb
06/23/2025  05:06 PM            65,234 09-Inputs-and-Outputs.ipynb
06/23/2025  05:06 PM           101,081 10-Pivot-Tables.ipynb
06/23/2025  05:06 PM            47,135 11-Pandas-Project-Exercise .ipynb
06/23/2025  05:06 PM            52,576 12-Pandas-Project-Exercise-Solution.ipynb
06/26/2025  03:12 PM            15,338 dataframe.ipynb
06/23/2025  05:06 PM                51 example.csv
06/23/2025  05:06 PM             5,022 example.xlsx
06/23/2025  05:06 PM        25,112,317 hotel_booking_data.csv
06/23/2025  05:06 PM               177 movie_scores.csv
06/23/2025  05:06 PM            17,727 mpg.csv
06/23/2025  05:06 PM             5,022 my_excel_file.xlsx
06/23/2025  05:06 PM                51 new_file.csv
06/23/2025  05:06 PM             5,021 new_workbook.xlsx
06/23/2025  05:06 PM                51 newfile.csv
06/23/2025  05:06 PM            52,132 reshaping_pivot.png
06/23/2025  05:06 PM             5,459 RetailSales_BeerWineLiquor.csv
06/23/2025  05:06 PM             1,320 Sales_Funnel_CRM.csv
06/23/2025  05:06 PM             1,330 sample_table.html
06/23/2025  05:06 PM               555 simple.html
06/23/2025  05:06 PM            18,752 tips.csv
              29 File(s)     27,144,858 bytes
               4 Dir(s)  874,778,603,520 bytes free

In [20]:
#provide file path to the tips.csv file to pandas
#two ways to do it
#1.
df = pd.read_csv('tips.csv')

In [18]:
df

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251
...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Michael Avila,5296068606052842,Sat2657
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,3506806155565404,Sat1766
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,6011891618747196,Sat3880
242,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,4375220550950,Sat17
243,18.78,3.00,Female,No,Thur,Dinner,2,9.39,Michelle Hardin,3511451626698139,Thur672

In [26]:
#2.(***THIS OPTION IS THE BEST SINCE IT ALLOWS ONE TO READ DATA FROM ANYWHERE IN THEIR COMPUTER-its advisable to get comfortable with it.)
#to avoid errors make sure the file is saved in the same folder where the notebook is saved
#if error occurs and the file and notebook are saved in the same folder then provide the full file path as shown below.
df = pd.read_csv('c:\\Users\\USER\\Documents\\UDEMY_PRACTICE\\03-Pandas\\tips.csv')

In [27]:
df

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251
...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Michael Avila,5296068606052842,Sat2657
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,3506806155565404,Sat1766
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,6011891618747196,Sat3880
242,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,4375220550950,Sat17
243,18.78,3.00,Female,No,Thur,Dinner,2,9.39,Michelle Hardin,3511451626698139,Thur672